@mixin pseudo($pseudo, $top, $right, $bottom, $left){

	&:#{$pseudo}{
		content: '';
		position: absolute;
		top: $top;
		right: $right;
		bottom: $bottom;
		left: $left;
	}
}


@mixin position($position, $top , $right , $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}


@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder {opacity: 1; @content}
  &:-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
  &.placeholder {@content}
}